<div ng-show="game.onTurn" class="container">
  <button ng-click="collectIncome()" ng-disabled="game.income == 0 || collected" class="btn btn-warning" style="margin-bottom: 10px">Collect {{game.income}} gold</button>
</div>
<div ng-hide="game.buildTurn || !game.onTurn" class="container">
  <div ng-hide="hideBasicActions">
    <button ng-click="takeTwoGold()"  class="btn btn-warning">Take two golds</button>
    <button ng-click="drawTwoCards()" class="btn btn-info">Draw two cards</button>
  </div>
  <table class="table" ng-show="chooseNumber > 0" style="width: auto">
    <tr>
      <th>Name </th>
      <th>Type </th>
      <th>Cost </th>
    </tr>
    <tr ng-repeat="card in drawCards" >
      <td>{{card.name}} </td>
      <td>{{card.type}} </td>
      <td>{{card.cost}} </td>
      <td><button ng-click="choose(card)" class="btn btn-primary btn-sm"> Choose </button> </td>
    </tr>
  </table>
</div>