<div class="container">
  <h3>Owned Districts</h3>
  <table class="table" style="width: 300px">
    <tr>
      <th>Name </th>
      <th>Type </th>
      <th>Cost </th>
    </tr>
    <tr ng-repeat="card in game.ownedDistricts" popover="{{card.description}}" popover-trigger="mouseenter">
      <td>{{card.name}} </td>
      <td>{{card.type}} </td>
      <td>{{card.cost}} </td>
      <td>
        <button ng-show="game.Laboratory && card.name == 'Laboratory'" ng-click="toggleLab()" class="btn btn-primary btn-sm"> Toggle Ability </button>
      </td>
    </tr>
  </table>
  <h3>Gold {{game.gold}}</h3>
  <h3>District Hand</h3>
  <table class="table" style="width: 300px">
    <tr>
      <th>Name </th>
      <th>Type </th>
      <th>Cost </th>
    </tr>
    <tr ng-repeat="card in game.districtHand track by $index" popover="{{card.description}}" popover-trigger="mouseenter">
      <td>{{card.name}} </td>
      <td>{{card.type}} </td>
      <td>{{card.cost}} </td>
      <td>
        <button ng-hide="card.cost > game.gold || game.buildCap == 0 || !game.buildTurn || game.ownedDistricts[card.name]" ng-click="build(card);" class="btn btn-primary btn-sm"> Build </button>
      </td>
      <td>
        <button ng-show="LaboratoryOn" ng-click="discardLab(card)" class="btn btn-primary btn-sm"> Discard </button>
      </td>
    </tr>
  </table>
</div>