<div ng-show="HauntedCity || game.SchoolOfMagic"
     ng-init="districtTypes = [
          {type: 'Noble', color: 'Yellow'},
          {type: 'Religious', color: 'Blue'},
          {type: 'Trade', color: 'Green'},
          {type: 'Military', color: 'Red'},
          {type: 'Special', color: 'Purple'},
        ];">
  Choose color <br>
  <table class="table" style="width: 300px">
    <th>Type </th>
    <th>Color </th>
    <th></th>
    <tr ng-repeat="type in districtTypes">
      <td>{{type.type}} </td>
      <td>{{type.color}} </td>
      <td>
        <button ng-show="HauntedCity" ng-click="chooseHauntedCity(type)" class="btn btn-warning btn-sm">Choose</button>
        <button ng-show="game.SchoolOfMagic" ng-click="chooseSchoolOfMagic(type)" class="btn btn-warning btn-sm">Choose</button>
      </td>
    </tr>
  </table>
</div>