<div class="container" ng-show="Graveyard">
  <h3>Graveyard</h3>
  You may pay one gold to take the the destroyed district into your hand <br>
  <table class="table" style="width: 300px">
    <tr popover="{{destroyedCard.description}}" popover-trigger="mouseenter">
      <td>{{destroyedCard.name}} </td>
      <td>{{destroyedCard.type}} </td>
      <td>{{destroyedCard.cost}} </td>
    </tr>
  </table>
  <button ng-click="agree()" class="btn btn-info">OK</button>
  <button ng-click="deny()" class="btn btn-warning">No, thanks!</button>
</div>
<div class="container">
  <h3>Other Players</h3>
  <div ng-repeat="player in game.players">
    Nickname: {{player.nickname}} <br>
    Gold {{player.gold}} <br>
    Number of District Cards {{player.numberOfDistrictCards}} cards <br>
    Owned Districts
    <table class="table" style="width: 300px">
      <tr>
        <th>Name </th>
        <th>Type </th>
        <th>Cost </th>
      </tr>
      <tr ng-repeat="card in player.ownedDistricts" popover="{{card.description}}" popover-trigger="mouseenter">
        <td>{{card.name}} </td>
        <td>{{card.type}} </td>
        <td>{{card.cost}} </td>
        <td>
          <button ng-show="game.onTurn && game.Warlord &&
                           game.gold >= (card.cost-1) &&
                           player.nickname != game.bishopNickname &&
                           player.getOwnedDistrctsLength() < 8 &&
                           card.name != 'Keep'" ng-click="destroy(player, card)" class="btn btn-danger btn-sm">Destroy</button>
        </td>
      </tr>
    </table>
  </div>
</div>