<div ui-view="log" class="container"></div>

<div ng-hide="gameStart" class="container">
Your nickname: {{game.nickname}} <br>
Joined Players
<ul ng-repeat="player in app.remoteRooms[$stateParams.roomName].players">
  <li>{{player.nickname}}</li>
</ul>
<br>
  <button ng-click="start();" class="btn btn-primary">Start</button>
  <button ng-click="leave()" class="btn btn-warning">Leave</button>
</div>
<br>
<div ng-show="gameEnd" class="container">
    <table class="table center-block" style="width: 70%">
      <tr>
        <th>Player </th>
        <th>District Point</th>
        <th>Five-color Bonus</th>
        <th>Finisher Bonus </th>
        <th>Completion Bonus </th>
        <th>Total</th>
        <th>Gold</th>
      </tr>
      <tr ng-repeat="player in final | orderBy:'totalPoints':true" ng-class="{info: player.nickname == winner.nickname}" class="text-center">
        <td>{{player.nickname}} </td>
        <td>{{player.districtPoints}} </td>
        <td>{{player.fiveColorPoints}} </td>
        <td>{{player.enderPoints}} </td>
        <td>{{player.eightDistrictPoints}} </td>
        <td>{{player.totalPoints}} </td>
        <td>{{player.gold}} </td>
      </tr>
    </table>
</div>

<div ng-show="gameStart" class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button ng-click="endTurn()" ng-disabled="!game.onTurn && !murdered" ng-hide="gameEnd" class="btn btn-success"> End Turn</button>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div ui-view="player" class="col-lg-4"></div>
      <div class="col-lg-4">
        <div ui-view="characters"></div>
        <div class="container" ng-show="game.onTurn">
          <div ui-view="basic-actions" ></div>
          <div ui-view="assassin"></div>
          <div ui-view="thief"></div>
          <div ui-view="magician"></div>
        </div>
        <div ui-view="type-selection"></div>
      </div>
      <div ui-view="warlord" class="col-lg-4"></div>
    </div>
  </div>

  <div ng-show="game.onTurn">

    <div ng-show="game.King">
      King
    </div>
    <div ng-show="game.Bishop">
      Bishop
    </div>
    <div ng-show="game.Merchant">
      Merchant
    </div>
    <div ng-show="game.Architect">
      Architect
    </div>
  </div>
</div>
