<form class="form-signin" ng-hide="app.player.nickname != '' || !app.socketConnected" ng-submit="createPlayer()">
  <input class="form-control" type="text" placeholder="Player name" ng-model="nickname" autofocus >
  <button type="submit" class="btn btn-lg btn-primary btn-block">Create Player</button>
  <span ng-show="invalidNickname">Nickname existed!</span><br>
  <br>
</form>
<div id="wrapper">
  <div class="form-signin" ng-show="app.player.nickname != ''">
    <h3 class="form-signin-heading">Welcome, {{app.player.nickname}}!</h3>

    <form ng-submit="createRoom()">
    <input class="form-control" type="text" placeholder="Room Name" ng-model="roomName">
    <input class="form-control" type="number" placeholder="# of players" ng-model="roomCap">
    <button class="btn btn-primary btn-block" type="submit" class="btn btn-primary btn-sm">Create</button>
    </form>
    <span ng-show="roomExisted">Room existed!</span><br>
    <span ng-show="not27">Only support 2-7 player game</span><br>
    <span ng-show="needRoomName">Please enter a room name</span><br>
    <table class="table room-list" >
      <tr ng-repeat="room in app.remoteRooms">
        <td>{{room.roomName}}</td>
        <td>{{room.numberOfPlayers}}/{{room.roomCap}}</td>
        <td class="pull-right">
          <button class="btn btn-info btn-sm" ng-disabled="room.status == 'started'" ng-click="joinRoom(room.roomName)" >
            <span ng-hide="room.status == 'started'">Join</span>
            <span ng-show="room.status == 'started'">Playing</span>
          </button>
        </td>
      </tr>
    </table>
    <span ng-show="roomFull">Room is full</span>
    <button ng-click="logout()" class="btn btn-danger btn-block">log out</button>
  </div>
</div>